
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .collapse {
    visibility: visible
  }

  #name, #job, #description{
    text-align: left !important;
  }

  #contact{
    margin-left: 1rem !important;
    margin-right: 0 !important;
  }

  #socials{
    justify-content: left !important;
  }
}

*{
  box-sizing: border-box;
}

#contact{
    list-style-position: inside !important; 
    padding-left: 0;
  }

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Eventos ocultos al inicio */
.event {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Eventos visibles */
.event.visible {
  opacity: 1;
  transform: translateY(0);
}

#timeline-draw {
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 3s linear; 
}
#timeline-draw.animate {
  transform: scaleX(1);
}

#timeline-vertical-draw {
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 3s linear; 
}
#timeline-vertical-draw.animate {
  transform: scaleY(1);
}

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .fade-in {
    animation: fadeIn 1s ease-out forwards;
  }