*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.visible {
  visibility: visible
}

.collapse {
  visibility: collapse
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.-top-20 {
  top: -5rem
}

.left-0 {
  left: 0px
}

.top-0 {
  top: 0px
}

.top-8 {
  top: 2rem
}

.m-0 {
  margin: 0px
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mx-20 {
  margin-left: 5rem;
  margin-right: 5rem
}

.mx-40 {
  margin-left: 10rem;
  margin-right: 10rem
}

.mx-52 {
  margin-left: 13rem;
  margin-right: 13rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.ml-24 {
  margin-left: 6rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-4 {
  margin-top: 1rem
}

.mr-4 {
  margin-right: 1rem
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem
}

.size-64 {
  width: 16rem;
  height: 16rem
}

.size-auto {
  width: auto;
  height: auto
}

.size-96 {
  width: 24rem;
  height: 24rem
}

.h-1 {
  height: 0.25rem
}

.h-1\/2 {
  height: 50%
}

.h-\[32rem\] {
  height: 32rem
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.h-2 {
  height: 0.5rem
}

.h-4 {
  height: 1rem
}

.h-8 {
  height: 2rem
}

.h-14 {
  height: 3.5rem
}

.max-h-60 {
  max-height: 15rem
}

.w-1\/5 {
  width: 20%
}

.w-11\/12 {
  width: 91.666667%
}

.w-\[64rem\] {
  width: 64rem
}

.w-full {
  width: 100%
}

.w-screen {
  width: 100vw
}

.w-0 {
  width: 0px
}

.w-auto {
  width: auto
}

.w-20 {
  width: 5rem
}

.w-\[40\%\] {
  width: 40%
}

.w-8 {
  width: 2rem
}

.max-w-72 {
  max-width: 18rem
}

.max-w-96 {
  max-width: 24rem
}

.flex-1 {
  flex: 1 1 0%
}

.origin-left {
  transform-origin: left
}

.scale-x-0 {
  --tw-scale-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.list-none {
  list-style-type: none
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-2 {
  gap: 0.5rem
}

.overflow-hidden {
  overflow: hidden
}

.rounded-full {
  border-radius: 9999px
}

.border-0 {
  border-width: 0px
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1))
}

.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1))
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.p-0 {
  padding: 0px
}

.px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.pe-3 {
  padding-inline-end: 0.75rem
}

.pt-40 {
  padding-top: 10rem
}

.pl-8 {
  padding-left: 2rem
}

.text-center {
  text-align: center
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold {
  font-weight: 700
}

.text-blue-400 {
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity, 1))
}

.text-yellow-400 {
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity, 1))
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1))
}

.underline {
  text-decoration-line: underline
}

.no-underline {
  text-decoration-line: none
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

@media (min-width: 768px) {
  .collapse {
    visibility: visible
  }
}

/* Animación de la línea */

#timeline-draw {
  transition: transform 3s linear;
  transform-origin: left;
}

/* Eventos ocultos al inicio */

.event {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Eventos visibles */

.event.visible {
  opacity: 1;
  transform: translateY(0);
}

#timeline-draw {
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 3s linear;
  /* transición definida en CSS */
}

#timeline-draw.animate {
  transform: scaleX(1);
}