*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.visible {
  visibility: visible
}

.collapse {
  visibility: collapse
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.bottom-4 {
  bottom: 1rem
}

.left-0 {
  left: 0px
}

.left-\[-12rem\] {
  left: -12rem
}

.right-\[-12rem\] {
  right: -12rem
}

.top-0 {
  top: 0px
}

.top-4 {
  top: 1rem
}

.left-1\/2 {
  left: 50%
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.m-0 {
  margin: 0px
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto
}

.mb-12 {
  margin-bottom: 3rem
}

.mr-4 {
  margin-right: 1rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-5 {
  margin-top: 1.25rem
}

.-mt-20 {
  margin-top: -5rem
}

.mt-12 {
  margin-top: 3rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-8 {
  margin-top: 2rem
}

.mt-3 {
  margin-top: 0.75rem
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-1 {
  height: 0.25rem
}

.h-2 {
  height: 0.5rem
}

.h-5\/6 {
  height: 83.333333%
}

.h-64 {
  height: 16rem
}

.h-auto {
  height: auto
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.h-1\/2 {
  height: 50%
}

.h-32 {
  height: 8rem
}

.h-40 {
  height: 10rem
}

.max-h-60 {
  max-height: 15rem
}

.max-h-\[90\%\] {
  max-height: 90%
}

.max-h-3\.5 {
  max-height: 0.875rem
}

.max-h-\[50\%\] {
  max-height: 50%
}

.max-h-\[80vh\] {
  max-height: 80vh
}

.max-h-40 {
  max-height: 10rem
}

.max-h-\[80dvh\] {
  max-height: 80dvh
}

.max-h-\[90dvh\] {
  max-height: 90dvh
}

.max-h-\[85dvh\] {
  max-height: 85dvh
}

.min-h-screen {
  min-height: 100vh
}

.w-1 {
  width: 0.25rem
}

.w-1\/5 {
  width: 20%
}

.w-11\/12 {
  width: 91.666667%
}

.w-20 {
  width: 5rem
}

.w-44 {
  width: 11rem
}

.w-8 {
  width: 2rem
}

.w-\[90\%\] {
  width: 90%
}

.w-full {
  width: 100%
}

.w-screen {
  width: 100vw
}

.w-32 {
  width: 8rem
}

.w-10\/12 {
  width: 83.333333%
}

.w-40 {
  width: 10rem
}

.w-\[80\%\] {
  width: 80%
}

.max-w-6xl {
  max-width: 72rem
}

.max-w-72 {
  max-width: 18rem
}

.max-w-7xl {
  max-width: 80rem
}

.max-w-4xl {
  max-width: 56rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-shrink-0 {
  flex-shrink: 0
}

.origin-left {
  transform-origin: left
}

.origin-top {
  transform-origin: top
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-x-0 {
  --tw-scale-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-y-0 {
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.list-none {
  list-style-type: none
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-col-reverse {
  flex-direction: column-reverse
}

.items-center {
  align-items: center
}

.items-stretch {
  align-items: stretch
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-4 {
  gap: 1rem
}

.gap-2 {
  gap: 0.5rem
}

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.overflow-y-auto {
  overflow-y: auto
}

.overflow-x-hidden {
  overflow-x: hidden
}

.whitespace-normal {
  white-space: normal
}

.break-words {
  overflow-wrap: break-word
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-sm {
  border-radius: 0.125rem
}

.rounded-tl-2xl {
  border-top-left-radius: 1rem
}

.rounded-tl-none {
  border-top-left-radius: 0px
}

.rounded-bl-none {
  border-bottom-left-radius: 0px
}

.rounded-ss {
  border-start-start-radius: 0.25rem
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.object-center {
  -o-object-position: center;
     object-position: center
}

.p-0 {
  padding: 0px
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.pe-3 {
  padding-inline-end: 0.75rem
}

.pt-40 {
  padding-top: 10rem
}

.pt-24 {
  padding-top: 6rem
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-end {
  text-align: end
}

.align-middle {
  vertical-align: middle
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.text-blue-400 {
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity, 1))
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1))
}

.text-yellow-400 {
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity, 1))
}

.no-underline {
  text-decoration-line: none
}

.opacity-75 {
  opacity: 0.75
}

.opacity-80 {
  opacity: 0.8
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width: 768px) {
  .collapse {
    visibility: visible
  }
}

*{
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Eventos ocultos al inicio */

.event {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Eventos visibles */

.event.visible {
  opacity: 1;
  transform: translateY(0);
}

#timeline-draw {
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 3s linear;
}

#timeline-draw.animate {
  transform: scaleX(1);
}

#timeline-vertical-draw {
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 3s linear;
}

#timeline-vertical-draw.animate {
  transform: scaleY(1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

@media (min-width: 768px) {
  .md\:static {
    position: static
  }

  .md\:relative {
    position: relative
  }

  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px
  }

  .md\:mt-0 {
    margin-top: 0px
  }

  .md\:flex {
    display: flex
  }

  .md\:hidden {
    display: none
  }

  .md\:h-\[32rem\] {
    height: 32rem
  }

  .md\:h-full {
    height: 100%
  }

  .md\:h-96 {
    height: 24rem
  }

  .md\:h-\[30rem\] {
    height: 30rem
  }

  .md\:h-\[20rem\] {
    height: 20rem
  }

  .md\:h-\[10rem\] {
    height: 10rem
  }

  .md\:h-\[28rem\] {
    height: 28rem
  }

  .md\:h-\[92rem\] {
    height: 92rem
  }

  .md\:max-h-\[32rem\] {
    max-height: 32rem
  }

  .md\:max-h-none {
    max-height: none
  }

  .md\:w-1\/3 {
    width: 33.333333%
  }

  .md\:w-2\/3 {
    width: 66.666667%
  }

  .md\:w-\[70\%\] {
    width: 70%
  }

  .md\:w-\[30\%\] {
    width: 30%
  }

  .md\:w-48 {
    width: 12rem
  }

  .md\:w-40 {
    width: 10rem
  }

  .md\:w-44 {
    width: 11rem
  }

  .md\:w-\[500px\] {
    width: 500px
  }

  .md\:w-\[700px\] {
    width: 700px
  }

  .md\:w-2\/5 {
    width: 40%
  }

  .md\:w-\[35\%\] {
    width: 35%
  }

  .md\:flex-row {
    flex-direction: row
  }

  .md\:rounded-none {
    border-radius: 0px
  }

  .md\:rounded-lg {
    border-radius: 0.5rem
  }

  .md\:rounded-sm {
    border-radius: 0.125rem
  }

  .md\:object-top {
    -o-object-position: top;
       object-position: top
  }

  .md\:p-10 {
    padding: 2.5rem
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }

  .md\:pt-0 {
    padding-top: 0px
  }

  .md\:text-left {
    text-align: left
  }

  .md\:text-right {
    text-align: right
  }

  .md\:text-start {
    text-align: start
  }
}